<div class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" routerLink="/">Invoice app</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="/customers">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/">Invoices</a>
      </li>
    </ul>
  </div>

</div>
