<div style="text-align: center;">
  <button type="button" class="btn btn-outline-primary"
  (click)="onCreate()">
    add invoice
  </button>
</div>

<ngx-datatable
  class="material"

  [loadingIndicator]="loadingIndicator"
 
  [columns]="tableColumns"
  [rows]="invoices | async"
  
  [columnMode]="'force'"

  [headerHeight]="50"
  [rowHeight]="70"
  [footerHeight]="50"
></ngx-datatable>

<ng-template #nameTmpl let-row="row" let-value="value">
  <span>
    {{ (value | customerName | async)?.name }}
  </span>
</ng-template>

<ng-template #priceTmpl let-row="row" let-value="value">
  <span>
    {{ value | currency }}
  </span>
</ng-template>

<ng-template #actionTmpl let-row="row" let-value="value">
  <div class="d-flex justify-content-around">

    <button class="btn btn-outline-primary waves-effect border-0 px-2"
    (click)="showItemsForInvoice(row)">
      <!-- <i class="fa fa-shopping-cart"></i> -->
      details
    </button>

    <button class="btn btn-outline-primary waves-effect border-0 px-2"
    (click)="onDelete(row)">
      <!-- <i class="fa fa-trash-alt"></i> -->
      delete
    </button>

<!--  -->  </div>
</ng-template>
