<div class="modal-header">

  <span class="modal-title">
    <h4 *ngIf="action === 'create'">Create form</h4>
    <h4 *ngIf="action === 'edit'">Edit form</h4>
  </span>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">

  <form [formGroup]="editingForm" (ngSubmit)="onSave()">

    <!-- NAME -->

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
      </div>
      <input mdbInputDirective data-error="wrong text" data-success="right text"
        type="text" class="form-control" formControlName="name"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="form-control-feedback" *ngIf="nameInvalid">
      <p *ngIf="errorNameRequired">Name is required</p>
      <p *ngIf="errorNameMinlen">Name must be 10 characters long</p>
      <p *ngIf="errorNameMaxlen">Name must contain no more than 30 characters</p>
    </div>

    <!-- PHONE -->

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
      </div>
      <input type="text" class="form-control" formControlName="phone"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="form-control-feedback" *ngIf="phoneInvalid">
      <p *ngIf="errorPhoneRequired">Phone is required</p>
      <p *ngIf="errorPhoneMinlen">Phone must be 6 characters long</p>
      <p *ngIf="errorPhoneMaxlen">Phone must contain no more than 11 characters</p>
    </div>
  
    <!-- ADDRESS -->
  
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
      </div>
      <input type="text" class="form-control" formControlName="address"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="form-control-feedback" *ngIf="addressInvalid">
      <p *ngIf="errorAddressRequired">Address is required</p>
      <p *ngIf="errorAddressMinlen">Address must be 10 characters long</p>
      <p *ngIf="errorAddressMaxlen">Address must contain no more than 30 characters</p>
    </div>

  </form>
      
</div>

<div class="modal-footer">

  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)">
    Cancel
  </button>
  
  <button type="button" class="btn btn-success" (click)="onSave()"
  [disabled]="editingForm.pristine || editingForm.invalid">
    {{ buttonOk }}
  </button>

</div>
