it's a cuctomers page


<!-- <div class="main-area">

  <button  class="return-back" (click)="goBack()">Back</button>

  <div *ngIf="isData; else loading">
  
    <mat-card *ngIf="!isEdit" class="single-card">
  
      <mat-card-title class="single-card__title">
        Personal info
      </mat-card-title>
  
      <mat-card-content class="single-card__content">
        <table cellspacing="0" cellpadding="0" class="data-table">
          <tr>
            <td class="table__key">Name</td>
            <td class="table__value">{{ customer.name }}</td>
          </tr>
          <tr>
            <td class="table__key">Address</td>
            <td class="table__value">{{ customer.address }}</td>
          </tr>
          <tr>
            <td class="table__key">Phone</td>
            <td class="table__value">{{ customer.phone }}</td>
          </tr>
        </table>
      </mat-card-content>
        
      <mat-card-actions class="single-card__buttons">
        <button  class="single-button" (click)="onEdit()">Edit</button>
      </mat-card-actions>
    
    </mat-card>
  
    <mat-card *ngIf="isEdit" class="single-card">
  
      <mat-card-title class="single-card__title">
        Data editing 
      </mat-card-title>
    
      <mat-card-content class="single-card__content">
        <form class="editing-form" [formGroup]="editingForm" (ngSubmit)="onSave()">
  
          <mat-form-field class="input-field">
            <input matInput type="text" formControlName="name"
              placeholder="Name" value="{{ customer.name }}"/>
          </mat-form-field>
  
          <mat-form-field class="input-field">
            <input matInput type="text" formControlName="address"
              placeholder="Address" value="{{ customer.address }}"/>
          </mat-form-field>
  
          <mat-form-field class="input-field">
            <input matInput type="text" formControlName="phone"
              placeholder="Phone" value="{{ customer.phone }}"/>
          </mat-form-field>
  
        </form>
      </mat-card-content>
        
      <mat-card-actions class="single-card__buttons">
        <button  class="single-button" (click)="toggleMode()">Cancel</button>
        <button  class="single-button" (click)="onSave()">Save</button>
      </mat-card-actions>
    
    </mat-card>
  
  </div>
  
  <ng-template #loading>
    loading...
  </ng-template>
  
</div> -->
