<div class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand">Invoice app</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">

      <li class="nav-item" [class.active]="currentUrl === '/customers'">
        <div class="btn" (click)="openCustomers()">
          Customers
        </div>
      </li>

      <li class="nav-item" [class.active]="currentUrl === '/products'">
        <div class="btn" (click)="openProducts()">
          Products
        </div>
      </li>

      <li class="nav-item" [class.active]="currentUrl === '/invoices'">
        <div class="btn" (click)="openInvoices()">
          Invoices
        </div>
      </li>

    </ul>
  </div>

</div>
