<div class="modal-header">

    <h4 class="modal-title">Editing</h4>
  
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  
  </div>
  
  <div class="modal-body">

    <form [formGroup]="editingForm" (ngSubmit)="onSave()">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        </div>
        <input type="text" class="form-control" formControlName="name"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
  
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
        </div>
        <input type="text" class="form-control" formControlName="phone"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
  
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
        </div>
        <input type="text" class="form-control" formControlName="address"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

    </form>
        
  </div>
  
  <div class="modal-footer">
  
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="onSave()">Save</button>
  
  </div>
  