<div class="modal-header">

  <span class="modal-title">
    <h4 *ngIf="action === 'create'">Creating...</h4>
    <h4 *ngIf="action === 'edit'">Editing...</h4>
  </span>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">

  <form [formGroup]="editingForm" (ngSubmit)="onSave()">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
      </div>
      <input mdbInputDirective data-error="wrong text" data-success="right text"
        type="text" class="form-control" formControlName="name"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="form-control-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
      <p *ngIf="requiredNameError">Name is required</p>
      <p *ngIf="minlenNameError">Name must be 10 characters long</p>
      <p *ngIf="maxlenNameError">Name must contain no more than 30 characters</p>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
      </div>
      <input type="text" class="form-control" formControlName="phone"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="form-control-feedback"
      *ngIf="editingForm.controls.phone.invalid && (editingForm.controls.phone.dirty || editingForm.controls.phone.touched)">
      <p *ngIf="editingForm.controls.phone.errors.required">Name is required</p>
      <p *ngIf="editingForm.controls.phone.errors.minlength">Name must be 6 characters long</p>
      <p *ngIf="editingForm.controls.phone.errors.maxlength">Name must contain no more than 11 characters</p>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
      </div>
      <input type="text" class="form-control" formControlName="address"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="form-control-feedback"
      *ngIf="editingForm.controls.address.invalid && (editingForm.controls.address.dirty || editingForm.controls.address.touched)">
      <p *ngIf="editingForm.controls.address.errors.required">Name is required</p>
      <p *ngIf="editingForm.controls.address.errors.minlength">Name must be 10 characters long</p>
      <p *ngIf="editingForm.controls.address.errors.maxlength">Name must contain no more than 30 characters</p>
    </div>

  </form>
      
</div>

<div class="modal-footer">

  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)">
    Cancel
  </button>
  
  <button type="submit" class="btn btn-success" [disabled]="editingForm.pristine || editingForm.invalid">
    {{ buttonOk }}
  </button>

</div>
