<div class="modal-header">

  <span class="modal-title">
    <h4 *ngIf="action === 'create'">Addition form</h4>
    <h4 *ngIf="action === 'edit'">Edit form</h4>
  </span>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">

  <form [formGroup]="editingForm" (ngSubmit)="onSave()">

    <!-- NAME -->

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Product</span>
      </div>
      <input placeholder="Select product"
        [ngbTypeahead]="search" #instance="ngbTypeahead"
        (focus)="focus$.next($event.target.value)"
        (click)="click$.next($event.target.value)"
        (selectItem)="onSelectItem($event)"
        [resultFormatter]="formatter"

        formControlName="product"
        data-error="wrong text" data-success="right text"
        type="text" class="form-control"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
      />
    </div>

    <!-- QUANTITY -->

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Quantity</span>
      </div>
      <input type="number" min="0" max="20" placeholder="Enter quantity of product"
        class="form-control" formControlName="quantity"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

  </form>

</div>

<div class="modal-footer">

  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)">
    Cancel
  </button>
  
  <button type="button" class="btn btn-success" (click)="onSave()">
    {{ buttonOk }}
  </button>

</div>
