<div class="d-flex flex-row align-self-center addition">

  <div class="info">
    Customer: 
    <span *ngIf="invoice; else loadingName">
      {{ (invoice.customer_id | customerName | async)?.name }}
    </span>
    <ng-template #loadingName>
      loading...
    </ng-template>
  </div>

  <div class="info">
    Discount: 
    <span *ngIf="invoice; else loadingDiscount">
      {{ invoice.discount }} %
    </span>
    <ng-template #loadingDiscount>
      loading...
    </ng-template>
  </div>

  <div class="info">
    Total for invoice: 
    <span *ngIf="invoice; else loadingTotal">
      {{ invoice.total | currency }}
    </span>
    <ng-template #loadingTotal>
      loading...
    </ng-template>
  </div>
  
  <button type="button" class="btn btn-primary adding-button" (click)="onCreate()">
    add new items to invoice
  </button>

</div>

<ngx-datatable
  class="material"

  [loadingIndicator]="loadingIndicator"
 
  [columns]="customTableColumns"
  [rows]="customInvArray$ | async"
  
  [columnMode]="'force'"

  [headerHeight]="50"
  [rowHeight]="70"
  [footerHeight]="50"
></ngx-datatable>

<ng-template #customTotalPriceTmpl let-row="row" let-value="value">
  <span>
    {{ (row.item.quantity * row.product.price) | currency }}
  </span>
</ng-template>

<ng-template #customItemPriceTmpl let-row="row" let-value="value">
  <span>
    {{ value | currency }}
  </span>
</ng-template>

<ng-template #customActionTmpl let-row="row" let-value="value">
  <div class="d-flex justify-content-around">

    <button class="btn btn-outline-primary waves-effect border-0 px-2"
    (click)="onEdit(row)">
      <i class="fa fa-pencil-alt"></i>
    </button>

    <button class="btn btn-outline-primary waves-effect border-0 px-2"
    (click)="onDelete(row)">
      <i class="fa fa-trash-alt"></i>
    </button>

  </div>
</ng-template>

<ng-template #multipleTmpl>
  <span>x</span>
</ng-template>

<ng-template #equalityTmpl>
  <span>=</span>
</ng-template>
