<div class="d-flex flex-row align-self-center addition">

  <!-- <button type="button" class="btn btn-outline-dark" (click)="goBack()">Back</button> -->

  <div class="info">
    Customer: 
    <span *ngIf="invoice; else loadingName">
      {{ (invoice.customer_id | customerName | async)?.name }}
    </span>
    <ng-template #loadingName>
      loading...
    </ng-template>
  </div>

  <div class="info">
    Discount: 
    <span *ngIf="invoice; else loadingDiscount">
      {{ invoice.discount }} %
    </span>
    <ng-template #loadingDiscount>
      loading...
    </ng-template>
  </div>
  
  <button type="button" class="btn btn-primary adding-button" (click)="onCreate()">
    add new items to invoice
  </button>

</div>

<ngx-datatable
  class="material"

  [loadingIndicator]="loadingIndicator"
 
  [columns]="tableColumns"
  [rows]="items | async"
  
  [columnMode]="'force'"

  [headerHeight]="50"
  [rowHeight]="70"
  [footerHeight]="50"
></ngx-datatable>

<div class="info">
  Total: 
  <span *ngIf="invoice; else loadingTotal">
    {{ invoice.total | currency }}
  </span>
  <ng-template #loadingTotal>
    loading...
  </ng-template>
</div>

<!-- TEMPLATES -->

<ng-template #nameTmpl let-row="row" let-value="value">

  {{ (value | productName | async)?.name }}

</ng-template>

<ng-template #actionTmpl let-row="row" let-value="value">

  <!-- TODO : убрать кнопки, оставить только иконки -->

  <div class="d-flex justify-content-around">

    <button class="btn btn-outline-info btn-rounded waves-effect px-3" (click)="onEdit(row)">
      <i class="fa fa-pencil-alt"></i>
    </button>

    <button class="btn btn-outline-info btn-rounded waves-effect px-3" (click)="onDelete(row)">
      <i class="fa fa-trash-alt"></i>
    </button>

  </div>

</ng-template>
