.addition {
    margin: 10px 0; 
}

h2 {
    margin: 0 20px;
}

.action-go-back {
    display: block;
    margin: 20px auto;
}

.info {
    font-size: 20px;
    width: 250px;
}

.adding-button {
    margin-left: 20px;
}
