<div style="text-align: center;">
  <button type="button" class="btn btn-outline-primary"
  (click)="onCreate()">
    add customer
  </button>
</div>

<ngx-datatable
  class="material"

  [loadingIndicator]="loadingIndicator"
 
  [columns]="tableColumns"
  [rows]="customers | async"
  
  [columnMode]="'force'"

  [headerHeight]="50"
  [rowHeight]="70"
  [footerHeight]="50"
></ngx-datatable>

<ng-template #actionTmpl let-row="row" let-value="value">

  <!-- TODO : убрать кнопки, оставить только иконки -->

  <div class="d-flex justify-content-around">

    <button class="btn btn-outline-primary waves-effect border-0 px-2"
    (click)="onEdit(row)">
      <!-- <i class="fa fa-pencil-alt"></i> -->
      edit
    </button>

    <button class="btn btn-outline-primary waves-effect border-0 px-2"
    (click)="onDelete(row)">
      <!-- <i class="fa fa-trash-alt"></i> -->
      delete
    </button>

  </div>

</ng-template>
