<nav class="navbar navbar-expand-lg navbar-light bg-primary">

  <a class="navbar-brand logo">Invoice app</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" [class.active]="currentUrl === '/customers'">
        <div class="btn" (click)="openCustomers()">
          Customers
        </div>
      </li>

      <li class="nav-item" [class.active]="currentUrl === '/products'">
        <div class="btn" (click)="openProducts()">
          Products
        </div>
      </li>

      <li class="nav-item" [class.active]="currentUrl === '/invoices'">
        <div class="btn" (click)="openInvoices()">
          Invoices
        </div>
      </li>

    </ul>
  </div>

</nav>
